@model TrainingMongoDB.Data.Entities.Course

@{
    ViewBag.Title = "Create Course";
}


<h2>Create Course</h2>

@using (Html.BeginForm()) { 
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Course</legend>

        @Html.LabelFor(model => model.Title)
       

        @Html.EditorFor(model => model.Title)
        @Html.ValidationMessageFor(model => model.Title)

        <p>
            <input type="submit" value="Create Coures" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index");
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
